{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
